<div class="analitics">
    <div class="analitics_container total">
        <div class="icon">
            <div class="icon_bg">
                <i class="fa-solid fa-chart-line"></i>
            </div>
        </div>
        <div class="info">
            <div class="title">Total Views</div>
            <div class="sub_title">124</div>
        </div>
    </div>
    <div class="analitics_container properties">
        <div class="icon">
            <div class="icon_bg">
                <i class="fa-solid fa-building"></i>
            </div>
        </div>
        <div class="info">
            <div class="title">Published Properties</div>
            <div class="sub_title">5</div>
        </div>
    </div>
    <div class="analitics_container approvel">
        <div class="icon">
            <div class="icon_bg">
                <i class="fa-solid fa-hourglass-end"></i>
            </div>
        </div>
        <div class="info">
            <div class="title">Waiting for Approvel</div>
            <div class="sub_title">2</div>
        </div>
    </div>
</div>
<div class="reserved_dates_container">
    <div class="container_title">Reserved Dates</div>
    <div class="container_line"></div>
    <div class="calender_wrapper">
        <div class="calendar">
            <div class="calendar-header">
                <button id="prev-month">❮</button>
                <span id="month-year"></span>
                <button id="next-month">❯</button>
            </div>
            <div class="calendar-body">
                <div class="calendar-days">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="calendar-dates" id="calendar-dates"></div>
            </div>
        </div>
        <div class="properties">
            <div class="container_title" id="res_date">Reservations</div>
            <div class="container_line"></div>
            <div class="properties_container" id="properties_container">
                <div class="property">
                    <img src="/images/property1.jpg" alt="property" />
                    <div>
                        <div class="property_title">Property One</div>
                        <div class="visiter">Reserved by: Jhon Doe</div>
                        <div class="time">At: 09:00 AM</div>
                    </div>
                </div>
                <div class="property">
                    <img src="/images/property1.jpg" alt="property" />
                    <div>
                        <div class="property_title">Property One</div>
                        <div class="visiter">Reserved by: Jhon Doe</div>
                        <div class="time">At: 09:00 AM</div>
                    </div>
                </div>
                <div class="property">
                    <img src="/images/property1.jpg" alt="property" />
                    <div>
                        <div class="property_title">Property One</div>
                        <div class="visiter">Reserved by: Jhon Doe</div>
                        <div class="time">At: 09:00 AM</div>
                    </div>
                </div>
                <div class="property">
                    <img src="/images/property1.jpg" alt="property" />
                    <div>
                        <div class="property_title">Property One</div>
                        <div class="visiter">Reserved by: Jhon Doe</div>
                        <div class="time">At: 09:00 AM</div>
                    </div>
                </div>
                <div class="property">
                    <img src="/images/property1.jpg" alt="property" />
                    <div>
                        <div class="property_title">Property One</div>
                        <div class="visiter">Reserved by: Jhon Doe</div>
                        <div class="time">At: 09:00 AM</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info_container">
    <div class="most_viewed">
        <div class="container_title">Most Viewed Property</div>
        <div class="container_line"></div>
        <div class="container">
            <img src="/images/property1.jpg" alt="property" />
            <div class="info_wrapper">
                <div class="title">
                    Spacious 2-Bedroom Apartment Near Campus
                </div>
                <div class="pub_date">Published On: 2024-09-17</div>
                <div class="total">Total Views: 43</div>
                <div class="duration">Published for: 24 Days</div>
            </div>
        </div>
    </div>
    <div class="notifications">
        <div class="container_title">Inbox</div>
        <div class="container_line"></div>
        <div class="notifications_wrapper">
            <div class="notification">
                <div class="icon"><i class="fa-solid fa-check"></i></div>
                <div class="not_info">
                    <div class="title">Property Approved</div>
                    <div class="timestamp">2024-10-19 18:54:55</div>
                    <div class="description">
                        Your property [Whole house with 2 rooms] is approved
                        an...Your property [Whole house with 2 rooms] is
                        approved Your property [Whole house with 2 rooms] is
                        approved an...Your property [Whole house with 2 rooms]
                        is approved
                    </div>
                </div>
            </div>
            <div class="notification">
                <div class="icon"><i class="fa-solid fa-check"></i></div>
                <div class="not_info">
                    <div class="title">Property Approved</div>
                    <div class="timestamp">2024-10-19 18:54:55</div>
                    <div class="description">
                        Your property [Whole house with 2 rooms] is approved
                        an...Your property [Whole house with 2 rooms] is
                        approved Your property [Whole house with 2 rooms] is
                        approved an...Your property [Whole house with 2 rooms]
                        is approved
                    </div>
                </div>
            </div>
            <div class="notification">
                <div class="icon"><i class="fa-solid fa-check"></i></div>
                <div class="not_info">
                    <div class="title">Property Approved </div>
                    <div class="timestamp">2024-10-19 18:54:55</div>
                    <div class="description">
                        Your property [Whole house with 2 rooms] is approved
                        an...Your property [Whole house with 2 rooms] is approved
                        Your property [Whole house with 2 rooms] is approved
                        an...Your property [Whole house with 2 rooms] is approved
                    </div>
                </div>
            </div>
            <div class="notification">
                <div class="icon"><i class="fa-solid fa-check"></i></div>
                <div class="not_info">
                    <div class="title">Property Approved </div>
                    <div class="timestamp">2024-10-19 18:54:55</div>
                    <div class="description">
                        Your property [Whole house with 2 rooms] is approved
                        an...Your property [Whole house with 2 rooms] is approved
                        Your property [Whole house with 2 rooms] is approved
                        an...Your property [Whole house with 2 rooms] is approved
                    </div>
                </div>
            </div>
            <div class="notification">
                <div class="icon"><i class="fa-solid fa-check"></i></div>
                <div class="not_info">
                    <div class="title">Property Approved </div>
                    <div class="timestamp">2024-10-19 18:54:55</div>
                    <div class="description">
                        Your property [Whole house with 2 rooms] is approved
                        an...Your property [Whole house with 2 rooms] is approved
                        Your property [Whole house with 2 rooms] is approved
                        an...Your property [Whole house with 2 rooms] is approved
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/owner_dashboard.js"></script>
