<footer>
    <div class="Center">
        <div class="logo">
            <div class="title">Boarding Bridge</div>
            <div class="sub_title">
                "Connecting Students with Quality Accommodations"
            </div>
            <p>
                Phone : +94 01 457 8546 <br />
                Email : support@boardingbridge.lk <br />
                Address: 123 Campus Dr., City
            </p>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom_line"></div>
        <span class="rights"
            >© 2024 BoardingBridge. All rights reserved.</span
        >
    </div>
</footer>
