<div class="boilerplate_header">
    <span class="title">Boarding Bridge</span>
    <div class="profile">
        <div class="profile_info">
            <img src="/images/owner.jpg" alt="profile" />
            <span class="user_name">Jane Doe</span>
        </div>
        <i class="fa-solid fa-gear"></i>
    </div>
</div>
