<div class="inbox">
<div class="msg_container">
    <div class="title">
        New Reservation
    </div>
    <div class="timestamp">
        2022-21-05: 01:54
    </div>
    <div class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa error amet odit voluptate facilis quo reprehenderit, ipsum minima numquam debitis quia blanditiis obcaecati odio, iure rerum nobis aliquid provident repellendus a quidem! Blanditiis repellendus laudantium fugiat, consectetur est magnam quod dolorum nemo assumenda iste! Quisquam soluta voluptates minima vitae!
    </div>
</div>
</div>
