<div class="inbox">
    <div class="container_title">All Inbox</div>
    <div class="container_line"></div>
    <div class="table_container">
        <table>
            <colgroup>
                <col />
                <col />
                <col />
                <col />
            </colgroup>

            <thead>
                <tr>
                    <th>No.</th>
                    <th>Message</th>
                    <th>Recieved on</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="unread">
                    <td>1</td>
                    <td >
                        <div class="message">
                            <i class="fa-solid fa-check"></i>
                            <div class="message_content">
                                <div class="title">
                                    Property OneProperty OneProperty OneProperty
                                </div>
                                <div class="description">
                                    Property OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty One
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>2024-12-04</td>
                    <td>
                        <button>Open</button>
                        <button>Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td >
                        <div class="message">
                            <i class="fa-solid fa-building-circle-check"></i>
                            <div class="message_content">
                                <div class="title">
                                    Property OneProperty OneProperty OneProperty
                                </div>
                                <div class="description">
                                    Property OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty One
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>2024-12-04</td>
                    <td>
                        <button>Open</button>
                        <button>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
