<div class="inbox">
    <div class="container_title">All Inbox</div>
    <div class="container_line"></div>
    <div class="table_container">
        <table>
            <colgroup>
                <col />
                <col />
                <col />
                <col />
            </colgroup>

            <thead>
                <tr>
                    <th>No.</th>
                    <th>Message</th>
                    <th>Recieved on</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="unread">
                    <td>1</td>
                    <td >
                        <div class="message">
                            <i class="fa-solid fa-check"></i>
                            <div class="message_content">
                                <div class="title">
                                    Property OneProperty OneProperty OneProperty
                                </div>
                                <div class="description">
                                    Property OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty One
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>2024-12-04</td>
                    <td>
                        <a href="http://localhost:5000/owner/page/property/edit">Open</a>
                        <a href="http://localhost:5000/owner/page/property/edit">Open</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td >
                        <div class="message">
                            <i class="fa-solid fa-building-circle-check"></i>
                            <div class="message_content">
                                <div class="title">
                                    Property OneProperty OneProperty OneProperty
                                </div>
                                <div class="description">
                                    Property OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty OneProperty OneProperty
                                    OneProperty One
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>2024-12-04</td>
                    <td>
                        <a href="http://localhost:5000/owner/page/inbox/red">Open</a>
                        <button onclick="handleNotificationDelete(1)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="overlay" id="overlay">
        <div class="content" id="overlayContent">
            <div class="title">
                Are you Sure?
            </div>
            <div class="warning">
                This can't be undone.
            </div>
            <div class="button_container">
                <button class="closeBtn"  id="closeBtn">
                    Cancel
                </button>
                <button class="deleteBtn" id="deleteBtn">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/js/owner_inbox.js"></script>
