<div class="inbox">
<div class="msg_container">
    <div class="title">
        <%= inboxData.title%>
    </div>
    <div class="timestamp">
        <%= inboxData.timestamp%>
    </div>
    <div class="message">
        <%= inboxData.message%>
    </div>
</div>
</div>
