<div class="listings">
    <div class="header">
        <div class="container_title">Listings</div>
        <a href="http://localhost:5000/owner/page/property/new">
            <div class="add_new">
                Add New
            </div>
        </a>
    </div>
    <div class="container_line"></div>
    <div class="table_container">
        <table>
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>

            <thead>
                <tr>
                    <th>No.</th>
                    <th>Property</th>
                    <th>Submit for review</th>
                    <th>Published on</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="property">
                            <img src="/images/property1.jpg" alt="">
                            <div class="title">Property One</div>
                        </div>
                    </td>
                    <td>2024-12-04</td>
                    <td>2024-12-04</td>
                    <td><div class="pending">
                        Pending
                    </div></td>
                    <td>
                       -
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="property">
                            <img src="/images/property1.jpg" alt="">
                            <div class="title">Property OneProperty OneProperty OneProperty OneProperty OneProperty OneProperty OneProperty OneProperty OneProperty OneProperty OneProperty OneProperty OneProperty One</div>
                        </div>
                    </td>
                    <td>2024-12-04</td>
                    <td>2024-12-04</td>
                    <td><div class="active">
                        Published
                    </div></td>
                    <td>
                        <button>
                            Info
                        </button>
                        <button>
                            Edit
                        </button>
                        <button>
                            Delete
                        </button>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="property">
                            <img src="/images/property1.jpg" alt="">
                            <div class="title">Property One</div>
                        </div>
                    </td>
                    <td>2024-12-04</td>
                    <td>2024-12-04</td>
                    <td><div class="warning">
                        Action Needed
                    </div></td>
                    <td>
                        <button>
                            Solve
                        </button>

                </tr>
                <tr>
                    <td colspan="6" class="span_row">
                        You dont have any listings.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
