<div class="res_info">
    <div class="table_container">
        <table>
            <colgroup>
                <col>
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Jhon Doe</td>
                </tr>
                <tr>
                    <td>Property</td>
                    <td>
                        <div class="property">
                            <img src="/images/property1.jpg" alt="">
                            <div class="title"><a href="#">Property OneProperty </a></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Reservation Date</td>
                    <td>2024-12-04</td>
                </tr>
                <tr>
                    <td rowspan="2">Contact</td>
                    <td >466546165</td>
                </tr>
                <tr>
                    <td >student@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
