<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/login.css" />
        <link rel="icon" href="/images/favicon.png" type="image/icon type" />
        <title>Admin Login</title>
    </head>
    <body>
        <div class="header">
            <span class="title">Boarding Bridge: Admin Portal</span>
        </div>
        <div class="form_section">
            <div class="form_title">Log in</div>
            <div class="form_line"></div>
            <div class="form_header form_padding">
                <div class="form_sub_title">Welcome to Boarding Bridge</div>
                <div class="form_info">
                    <strong>Note:</strong> You must be an authorized
                    administrator to access and manage the system and services
                    provided by Boarding Bridge.
                </div>
            </div>
            <div id="error" class="error">Wrong Credentitals</div>
            <div class="form_container form_padding">
                <form id="loginForm">
                    <div class="input">
                        <input
                            id="staffId"
                            placeholder="Staff ID"
                            type="text"
                            name="staffId"
                            required
                        />
                        <label for="staffId"
                            >User name is used for login process</label
                        >
                    </div>
                    <div class="input">
                        <input
                            id="password"
                            placeholder="Password"
                            type="password"
                            name="password"
                            required
                        />
                        <label for="password" id="password_label"
                            >Please provide a strong password</label
                        >
                    </div>
                    <div class="input">
                        <button id="submitBtn" type="submit">Log In</button>
                    </div>
                    <div class="form_line"></div>
                    <p class="post-note">
                        Forgot password? <a href="#"><i>Reset Password</i></a
                        ><br />
                    </p>
                </form>
            </div>
        </div>
        <footer>
            <div class="Center">
                <div class="logo">
                    <div class="title">Boarding Bridge</div>
                    <div class="sub_title">
                        "Connecting Students with Quality Accommodations"
                    </div>
                    <P
                        >Phone : +94 01 457 8546 <br />
                        Email : support@boardingbridge.lk <br />
                        Address: 123 Campus Dr., City</P
                    >
                </div>
            </div>
            <div class="bottom">
                <div class="bottom_line"></div>
                <span class="rights"
                    >© 2024 BoardingBridge. All rights reserved.</span
                >
            </div>
        </footer>
    </body>
    <script>
        const loginForm = document.getElementById("loginForm");
        const error = document.getElementById("error");

        const handleUserFormSubmission = async (event) => {
            event.preventDefault();

            const formData = new FormData(loginForm);
            const formDataObj = Object.fromEntries(formData.entries());

            if (formDataObj.password == "admin") {
                window.location.href = "http://localhost:5000/admin/page/review"
            } else {
                error.style.display = "block";
            }
        };

        loginForm.addEventListener("submit", handleUserFormSubmission);
    </script>
</html>
