<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="icon" href="/images/favicon.png" type="image/icon type" />
        <title>Boarding Bridge</title>
    </head>
    <body>
        <div class="header">
            <div class="logo_container">
                <img class="logo" src="/images/favicon.png" alt="logo" />
                <h1 class="logo_title">Boarding Bridge</h1>
            </div>
            <button id="get_start_btn">Get Start</button>
        </div>
        <div class="line"></div>
        <div class="hero">
            <span class="hero_title">
                "Connecting Students with <br />
                Quality Accommodations"
            </span>
        </div>
        <div class="section_one">
            <div class="title_container">
                <span class="title_content">What is Boarding Bridge?</span>
                <div class="line"></div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="title">
                        Simplifying Long-Term Accommodation for University
                        Students
                    </div>
                    <div class="info">
                        <b>BoardingBridge</b> is a web platform designed
                        specifically to help university students find reliable,
                        long-term boarding options. Developed in partnership
                        with ABC University, it bridges the gap between students
                        and property owners, offering an efficient and secure
                        way to discover, compare, and secure accommodation for
                        the academic year.
                    </div>
                    <button id="get_start_btn2">Get Start</button>
                </div>
            </div>
        </div>
        <div class="section_two">
            <span class="title">Boarding Bridge is,</span>
            <div class="content">
                <div class="card">
                    <img
                        class="icon"
                        src="/images/icon_01.png"
                        alt=""
                        class="icon"
                    />
                    <div class="title">Safe</div>
                    <div class="desc">We guarantee your safety</div>
                </div>
                <div class="card">
                    <img
                        class="icon"
                        src="/images/icon_02.png"
                        alt=""
                        class="icon"
                    />
                    <div class="title">One-Stop</div>
                    <div class="desc">No need for an additional search</div>
                </div>
                <div class="card">
                    <img
                        class="icon"
                        src="/images/icon_03.png"
                        alt=""
                        class="icon"
                    />
                    <div class="title">Fast</div>
                    <div class="desc">Quick Results</div>
                </div>
                <div class="card">
                    <img
                        class="icon"
                        src="/images/icon_04.png"
                        alt=""
                        class="icon"
                    />
                    <div class="title">Flexible</div>
                    <div class="desc">A win for students and landlords</div>
                </div>
            </div>
        </div>
        <div class="section_three" id="section_three">
            <div class="title_container">
                <div class="line"></div>
                <span class="title_content">Why Boarding Bridge?</span>
            </div>
            <div class="button_container">
                <button
                    class="student"
                    style="box-shadow: -5px 20px 20px rgba(0, 0, 0, 0.15)"
                    id="student"
                >
                    For Students
                </button>
                <button class="owner" id="owner">For Owners</button>
            </div>
            <div class="main_container" id="studentsDiv">
                <div class="info_container">
                    <div class="title">What we offer</div>
                    <ul class="offers">
                        <li class="offer">
                            Find verified and reviewed properties near the
                            university.
                        </li>
                        <li class="offer">
                            Reserve viewing appointments and connect directly
                            with property owners.
                        </li>
                        <li class="offer">
                            Easily compare amenities, prices, and locations to
                            make informed decisions.
                        </li>
                    </ul>
                    <a href="http://localhost:5000/student/page/register">Enroll Now!</a>
                </div>
                <img src="/images/for_student.png" alt="" />
            </div>
            <div class="main_container" id="ownersDiv">
                <div class="info_container">
                    <div class="title">What we offer</div>
                    <ul class="offers">
                        <li class="offer">
                            List and manage your properties with ease.
                        </li>
                        <li class="offer">
                            Connect with potential student tenants directly.
                        </li>
                        <li class="offer">
                            Pay a small fee for property verification to ensure
                            trustworthiness.
                        </li>
                    </ul>
                    <a href="http://localhost:5000/owner/page/register">Enroll Now!</a>
                </div>
                <img src="/images/fow_owners.png" alt="" />
            </div>
        </div>
        <footer>
            <div class="top">
                <div class="left">
                    <div class="logo">
                        <div class="title">Boarding Bridge</div>
                        <div class="sub_title">
                            "Connecting Students with Quality Accommodations"
                        </div>
                    </div>
                    <ul>
                        <li>Phone : +94 01 457 8546</li>
                        <li>Email : support@boardingbridge.lk</li>
                        <li>Address: 123 Campus Dr., City</li>
                    </ul>
                </div>
                <div class="center">
                    <div class="title">Quick Links</div>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="right">
                    <div class="title">News letter</div>
                    <div class="line"></div>
                    <div class="newslitter_lable">
                        Subscribe to our news letter to get newest listings.
                    </div>
                    <form action="">
                        <input placeholder="email" ="text" />
                        <submit>Send</submit>
                    </form>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom_line"></div>
                <span>© 2024 BoardingBridge. All rights reserved.</span>
            </div>
        </footer>
    </body>
    <script>
        function toggleView(activeDiv, inactiveDiv, activeBtn, inactiveBtn) {
            activeDiv.style.display = "block";
            inactiveDiv.style.display = "none";
            activeBtn.style.backgroundColor = "white";
            activeBtn.style.color = "black";
            inactiveBtn.style.backgroundColor = "rgb(240, 240, 240)";
            inactiveBtn.style.color = "rgb(191, 191, 191)";
        }

        const forStudentsBtn = document.getElementById("student");
        const forOwnersBtn = document.getElementById("owner");
        const forStudentsDiv = document.getElementById("studentsDiv");
        const forOwnersDiv = document.getElementById("ownersDiv");
        const scrollToSectionButton = document.getElementById("get_start_btn");
        const scrollToSectionButtonTwo = document.getElementById("get_start_btn2");

        const sectionThree = document.getElementById("section_three");

        scrollToSectionButton.addEventListener("click", () => {
            sectionThree.scrollIntoView({ behavior: "smooth" });
        });

        scrollToSectionButtonTwo.addEventListener("click", () => {
            sectionThree.scrollIntoView({ behavior: "smooth" });
        });

        forStudentsBtn.addEventListener("click", () => {
            toggleView(
                forStudentsDiv,
                forOwnersDiv,
                forStudentsBtn,
                forOwnersBtn
            );
        });

        forOwnersBtn.addEventListener("click", () => {
            toggleView(
                forOwnersDiv,
                forStudentsDiv,
                forOwnersBtn,
                forStudentsBtn
            );
        });

        window.addEventListener("DOMContentLoaded", () => {
            forStudentsBtn.click();
        });
    </script>
</html>
