<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/student_reg.css" />
        <link rel="icon" href="/images/favicon.png" type="image/icon type" />
        <title>Student Registration</title>
    </head>

    <body>
        <div class="header">
            <span class="title">Boarding Bridge</span>
        </div>
        <div class="form_section">
            <div class="form_title">Registration</div>
            <div class="form_line"></div>
            <div class="form_header form_padding">
                <div class="form_sub_title">Welcome to Boarding Bridge</div>
                <div class="form_info">
                    <strong>Note:</strong> You must be a currently enrolled
                    student at Sri Jayawardenapura University to access and use
                    the system and services offered by Boarding Bridge.
                </div>
            </div>
            <div class="form_container form_padding">
                <form id="registrationForm">
                    <div class="input">
                        <input
                            id="studentID"
                            placeholder="Student ID"
                            type="text"
                            name="studentID"
                            required
                        />
                        <label for="studentID"
                            >Enter student ID provided by the university</label
                        >
                    </div>
                    <div class="input">
                        <input
                            id="email"
                            placeholder="Student Email"
                            type="email"
                            name="email"
                            required
                        />
                        <label for="email"
                            >Enter student email provided by the university</label
                        >
                    </div>
                    <div class="input">
                        <input
                            id="password"
                            placeholder="Password"
                            type="password"
                            name="password"
                            required
                        />
                        <label for="password" id="password_label"
                            >Please provide a strong password</label
                        >
                    </div>
                    <div class="input">
                        <input
                            id="confirmPassword"
                            placeholder="Confirm Password"
                            type="password"
                            required
                        />
                        <label for="confirmPassword" id="confirm_password_label"
                            >confirm entered password above</label
                        >
                    </div>

                    <div class="input">
                        <div class="checkbox">
                            <input id="terms" type="checkbox" required />
                            <label for="terms"
                                >I agree to the
                                <a href="#">[Terms & Conditions]</a> and<a
                                    href="#"
                                >
                                    [Privacy Policy]</a
                                ></label
                            >
                        </div>
                    </div>
                    <div class="input">
                        <button id="submitBtn" type="submit">Register</button>
                    </div>
                    <div class="form_line"></div>
                    <p class="post-note">
                        Already have an account?
                        <a href="http://localhost:5000/student/page/login"
                            ><i>Log In</i></a
                        >
                    </p>
                </form>
            </div>
        </div>
        <footer>
            <div class="Center">
                <div class="logo">
                    <div class="title">Boarding Bridge</div>
                    <div class="sub_title">
                        "Connecting Students with Quality Accommodations"
                    </div>
                    <p>
                        Phone : +94 01 457 8546 <br />
                        Email : support@boardingbridge.lk <br />
                        Address: 123 Campus Dr., City
                    </p>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom_line"></div>
                <span class="rights"
                    >© 2024 BoardingBridge. All rights reserved.</span
                >
            </div>
        </footer>
        <div class="overlay" id="overlay">
            <div class="content" id="overlayContent"></div>
        </div>
    </body>
    <script src="/js/student_registration.js" type="module"></script>
</html>
