@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #800000;
    align-items: center;
    height: 100px;
    padding-inline: 50px;
}

.header {
    .logo_container {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }

    .logo_title {
        font-weight: 700;
    }

    a {
        text-decoration: none;
        padding: 20px 40px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1rem;
        color: white;
        background-color: #800000;
        border: 1px solid white;
        cursor: pointer;
    }
}

.top-container {
    padding: 20px 40px;
    font-family: "poppins", sans-serif;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 100%;
    box-sizing: border-box;

    h2 {
        font-size: 26px;
    }
}

.images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.images-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
}

.images-grid img:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 610px;
}

.images-grid img:nth-child(2),
.images-grid img:nth-child(3) {
    grid-column: 3 / 4;
    height: 300px;
}

.images-grid img:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    height: 300px;
}

.images-grid img:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    height: 300px;
}

.input {
    display: flex;
    margin-top: -70px;
    flex-direction: row-reverse;
    margin-right: 30px;

    #gallery {
        width: 150px;
        display: flex;
        justify-content: center;
    }

    .gallery-btn {
        display: flex;
        align-items: center;
        height: 35px;

        p {
            margin-left: 10px;
        }
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.popup-content {
    background-color: white;
    font-family: "poppins", sans-serif;
    box-shadow: 0px 0px 20px gray;
    padding: 20px;
    width: 60%;
    max-width: 1210px;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    .gallery-top {
        display: flex;
    }

    .main-galary {
        width: 100%;
        height: 60vh;
        padding: 20px;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .img-view {
            flex: 1;

            .img-preview {
                padding: 30px;
                box-sizing: border-box;
                width: 100%;
                object-fit: cover;
                height: 50vh;
            }
        }

        .left-btn,
        .right-btn {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            font-size: 25px;
            display: flex;
            padding: 10px;
            border: 3px solid #800000;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            cursor: pointer;
            background-color: white;
            color: #800000;
            transition: 0.2s ease-in-out;

            &:hover {
                background-color: #800000;
                color: white;
            }
        }
    }

    .gallery-bottom {
        display: flex;
        justify-content: center;

        h1 {
            font-size: 18px;
        }
    }
}

.popup-content::-webkit-scrollbar {
    display: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.main {
    padding: 20px 40px;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    justify-content: space-between;
    /* background-color:rgb(255, 0, 0); */
    color: black;
    display: flex;
}

.left-container {
    width: 750px;
    margin-right: 40px;

    .Property-name {
        margin-top: 0;
        font-size: 24px;
        margin-bottom: 0;
    }

    .Property-details {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 200;
    }

    .owner {
        display: flex;
        margin: 30px 0;

        .owner-img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            padding: 10px;
            object-fit: cover;
        }

        .owner-details {
            padding: 10px;
            margin-left: 30px;

            .name {
                font-size: 22px;
            }

            .since {
                font-size: 16px;
            }
        }
    }

    .price {
        margin: 30px 0;

        h1 {
            font-size: 22px;
            margin-bottom: 10px;
            font-weight: 700;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            margin-top: 0;
        }
    }

    .info {
        margin: 30px 0;

        h1 {
            font-size: 22px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
        }
    }

    .facilities {
        margin: 30px 0;

        h1 {
            font-size: 22px;
        }

        .facilitity-container {
            margin: 30px 0;
            margin-inline: auto;
            width: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;

            .wrap-content {
                border: 1px solid rgb(167, 167, 167);
                font-size: 16px;
                margin: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                color: rgb(90, 90, 90);
                min-width: 150px;
                height: 40px;

                p {
                    margin-left: 10px;
                }
            }
        }
    }

    .location {
        margin: 30px 0;

        h1 {
            font-size: 22px;
        }

        .navigation {
            padding: 20px;
        }
    }
}
.right-container {
    /* background-color: aqua; */
    width: 700px;
    border: #d8d8d8 solid 1px;
    padding: 0 20px;
    color: #575656;

    .contact {
        padding: 10px 40px 0;
        display: flex;

        .icon {
            font-size: 25px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
        }

        .info-container {
            margin-left: 30px;

            h1 {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 0;
            }

            p {
                font-weight: 600;
                font-size: 20px;
                margin-top: 0;
                margin-bottom: 20px;
            }
        }
    }

    .calendar {
        padding: 10px 40px 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .cal-info {
            display: flex;

            .icon {
                font-size: 25px;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
            }

            .info-container {
                margin-left: 30px;

                h1 {
                    font-weight: 600;
                    font-size: 20px;
                    margin: 0;
                }
            }
        }

        .reservation {
            margin-top: 30px;
            padding: 20px;
            display: flex;
            width: 100%;
            background-color: #800000;
            color: white;
            justify-content: center;
            font-weight: 700;
            font-size: 18px;
            border: #800000;
            cursor: pointer;
        }
    }
}

.popup-reserve {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;

    .popup-content-reserve {
        background-color: white;
        font-family: "poppins", sans-serif;
        box-shadow: 0px 0px 20px gray;
        padding: 20px;
        height: 65%;
        width: 40%;
        max-width: 1210px;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;

        .form_line {
            height: 1px;
            width: 100%;
            background-color: #3b3b3b;
            margin-bottom: 10px;
        }

        .reserve-top {
            display: flex;
        }

        .reservation-head {
            display: flex;
            justify-content: center;

            h1 {
                font-size: 20px;
            }
        }

        .reserve-main {

            .success {

                text-align: center;
                min-height: 450px;
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;

                .title {
                    font-size: 22px;
                    margin-bottom: 30px;
                }
                .message {
margin-bottom: 30px;
                    font-size: 18px;
                }
            }

            #date-reservation {
                display: flex;
                width: 80%;
                justify-content: space-between;
                align-items: center;
            }

            .date-btn {
                background-color: #800000;
                padding: 15px;
                color: white;
                font-size: 18px;
                border: none;
                outline: none;
                margin-top: 40px;
                cursor: pointer;
            }
        }
    }
}

input[type="date"] {
    padding: 12px;
    color: #800000;
    font-size: 18px;
    border: 1px solid #800000;
    outline: none;
    margin-top: 40px;
    width: 60%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    padding: 5px;
    cursor: pointer;
}

footer {
    background-color: #181818;
    padding: 50px;
    color: white;

    .top {
        display: flex;
        margin-bottom: 50px;

        .title {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
        }

        .line {
            height: 2px;
            width: 70%;
            background-color: #ffc954;
            margin-bottom: 30px;
        }

        .left {
            flex: 1;
            .logo {
                .title {
                    font-family: "Poppins", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 36px;
                }
                .sub_title {
                    font-family: "Philosopher", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 16px;
                    margin-bottom: 30px;
                }
            }
            ul {
                list-style: none;
                li {
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                }
            }
        }
        .center {
            flex: 1;
            ul {
                li {
                    list-style: none;
                    margin-bottom: 10px;
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        .right {
            flex: 1;
            .newslitter_lable {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                margin-bottom: 30px;
            }
            input {
                padding: 10px 20px;
                width: 50%;
            }

            submit {
                padding: 10px 20px;
                text-align: center;
                background-color: rgb(255, 255, 255);
                color: #181818;
                cursor: pointer;
            }
        }
    }

    .bottom_line {
        height: 0.5px;
        width: 100%;
        background-color: #ffc954;
        margin-bottom: 20px;
    }

    .bottom {
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
